@font-face {
  font-family: "josefin";
  src: url("fonts/Josefin_Sans/JosefinSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "muli";
  src: url("fonts/Muli/Muli-Regular.ttf") format("truetype");
}
html {
  margin-top: 0 !important;
  /********************************************************/
  /**                     ARTICLES                      **/
  /*******************************************************/
  /********************************************************/
  /*                    ARTICLE                          */
  /********************************************************/
  /*******************************************************************************/
  /*******************************************************************************/
  /***                  Les derniers articles                                 ****/
  /*******************************************************************************/
}
html a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
}
html a:hover {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
}
html #header_article {
  background-size: cover;
  background-position: center center;
  padding: 1em;
  height: 65vh;
}
html #header_article h1 {
  padding: 1em;
  font-family: "josefin" !important;
  background-color: #343A40aa;
}
html header {
  background-color: #488b8f;
  height: 65vh;
}
html header nav {
  font-family: "josefin";
}
html header nav #name_promo {
  margin: 1vh;
  color: #fef7e6;
}
html header nav #navbarSupportedContent {
  justify-content: flex-end;
}
html header nav #navbarSupportedContent #buttons_container {
  margin-right: 0 !important;
}
@media screen and (max-width: 991px) {
  html header nav #navbarSupportedContent #buttons_container {
    flex-direction: column;
    align-items: center;
  }
}
html header nav #navbarSupportedContent #buttons_container a {
  color: #fef7e6;
}
html header nav #navbarSupportedContent #buttons_container a:hover {
  text-decoration: none;
  border-bottom: 3px solid #488b8f;
  margin-bottom: -3px;
}
html header .container-fluid {
  padding-top: 15vh;
}
html header .container-fluid .col-lg-6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 800px) {
  html header .container-fluid .col-lg-6 img {
    height: 20vh;
    width: 20vh;
  }
}
html header h1 {
  text-align: center;
  font-size: 5vh;
  margin-top: 6vh;
  color: #fef7e6;
  font-family: "josefin";
}
@media screen and (min-width: 320px) and (max-width: 800px) {
  html header h1 {
    font-size: 4vh;
  }
}
html #page {
  background-color: #488b8f;
  height: 100vh;
}
html .carreblancDroit {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 250px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  html .carreblancDroit {
    margin-right: 0vh;
  }
}
html .carreblancDroit #titreArticleD h3 {
  margin-top: 2vh;
  font-size: 20px;
  font-family: "muli";
  font-weight: bold;
  color: #343A40;
}
html .carreblancDroit #titreArticleD h3:hover {
  color: #488b8f;
}
html .carreblancDroit .extrait p {
  margin-right: 3vh;
  margin-left: 3vh;
}
html .carreblancDroit #lireD {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
html .carreblancDroit #lireD p {
  color: #343A40;
}
html .carreblancDroit b:hover {
  color: #488b8f;
}
html .carreblancGauche {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 250px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  html .carreblancGauche {
    margin-left: 0vh;
  }
}
html .carreblancGauche #titreArticleG h3 {
  margin-top: 2vh;
  font-family: "muli";
  font-size: 20px;
  color: #343A40;
  font-weight: bold;
}
html .carreblancGauche #titreArticleG h3:hover {
  color: #488b8f;
}
html .carreblancGauche .extrait p {
  margin-right: 3vh;
  margin-left: 3vh;
}
html .carreblancGauche #lireG {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
html .carreblancGauche #lireG a {
  color: #343A40;
}
html .carreblancGauche b:hover {
  color: #488b8f;
}
html .fondD {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 768px) {
  html .fondD {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
  }
}
html .fondD:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: background 1s;
}
html .fondG {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 768px) {
  html .fondG {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
  }
}
html .fondG:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: background 1s;
}
html #article1 {
  height: 400px;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  html #article1 {
    display: flex;
    justify-content: center;
  }
}
html #article2 {
  height: 400px;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  html #article2 {
    display: flex;
    justify-content: center;
  }
}
html #article3 {
  height: 400px;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  html #article3 {
    display: flex;
    justify-content: center;
  }
}
html #article4 {
  height: 400px;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  html #article4 {
    display: flex;
    justify-content: center;
  }
}
html #article5 {
  height: 400px;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  html #article5 {
    display: flex;
    justify-content: center;
  }
}
html #article6 {
  height: 400px;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  html #article6 {
    display: flex;
    justify-content: center;
  }
}
html main {
  padding: 1em;
  background-color: #fff4e3;
  color: #343A40;
}
html main article.article {
  font-family: "muli";
  margin: 0.5em;
  background-color: #fff4e3;
  border-left: 2px solid #488b8f;
  color: #343A40;
}
html main article.article .texte {
  padding: 0.5em;
}
html main article.article .meta {
  padding: 0.5em;
  color: #fff4e3;
  background-color: #488b8f;
}
html main article.article .meta a {
  color: #fff4e3;
}
html main article.article .meta a:hover {
  color: #fff4e3;
}
html main aside.list-comm tr {
  border-bottom: 1px dashed #343A40;
}
html main aside.list-comm td {
  margin: 0.25em;
  padding: 1em;
  padding-left: 3em;
  color: #343A40;
  transition: 0.25s all;
}
@media all and (max-width: 800px) {
  html main aside.list-comm td {
    padding: 0.5em !important;
  }
}
html main aside.list-comm td:last-child {
  padding-left: 1em;
}
html main aside.list-comm td img {
  display: inline-block;
  margin: 0.25em;
  margin-bottom: 0px;
}
html main aside.list-comm td .texte {
  padding-left: 0;
  font-family: "muli";
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  color: #343A40;
  background-color: #fff4e3 !important;
}
html main aside.list-comm td .meta {
  color: #488b8f;
  background-color: #fff4e3 !important;
}
html main aside.list-comm td .meta a {
  color: #343A40;
}
html main div.comment-respond {
  padding-left: 3em;
  color: #343A40;
  font-size: 1em;
}
html main div.comment-respond input, html main div.comment-respond textarea {
  background-color: #fff4e3;
  color: #343A40;
  border: 1px solid #343A40;
  display: block;
}
html main div.comment-respond input:focus, html main div.comment-respond textarea:focus {
  border: 1px solid #488b8f;
}
@media all and (max-width: 580px) {
  html main div.comment-respond input, html main div.comment-respond textarea {
    width: 300px;
    padding: 0px;
    margin: -10px !important;
  }
}
@media all and (max-width: 800px) {
  html main div.comment-respond {
    padding-left: 1em;
  }
}
@media all and (max-width: 400px) {
  html main div.comment-respond {
    padding-left: 0px;
  }
}
html .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html #section-welcome {
  min-height: 64vh;
  background-color: #fef7e6;
}
html #section-welcome h2 {
  font-family: "josefin";
  font-size: 5vh;
}
html #section-welcome .row {
  font-size: 2vh;
  font-family: "muli";
  padding-top: 4vh;
  padding-bottom: 6vh;
}
@media screen and (min-width: 320px) and (max-width: 387px) {
  html #section-welcome .row {
    font-size: 1.5vh;
  }
}
html #section-welcome #presentation {
  height: 38vh;
}
html #section-welcome #promotion {
  background-image: url("/wordpress-5.0.3/wordpress/wp-content/uploads/2019/01/2018-12-18-IMG_5716.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
html #section-articles {
  background-color: #488b8f;
  padding: 0;
}
html #section-articles h2 {
  font-family: "josefin";
  font-size: 5vh;
  padding-top: 12vh;
  color: #fef7e6;
}
html #section-articles #row-articles {
  margin-top: 10vh;
}
html #section-articles #row-articles .article {
  height: 35vh;
  width: 35vh;
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
html #section-articles #row-articles .article #titreArticle h3 {
  width: 60%;
  font-size: 2vh;
  background-color: #fef7e6cc;
  font-family: "josefin";
  padding: 1vh;
}
html #section-articles #row-articles .article #titreArticle h3:hover {
  background-color: #343A40;
  transition: background 2s;
  color: #fef7e6;
}
html footer {
  height: 30vh;
  background-color: #343a40;
}
html footer #social-medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
}
html footer #social-medias a {
  color: #fef7e6;
  font-size: 6vh;
  margin: 2vh;
}
html footer #social-medias a:hover {
  color: #488b8f;
  cursor: pointer;
}
html footer #legal {
  margin-top: 4.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html footer #mentions {
  margin-right: auto;
  font-family: "josefin";
  font-size: 1.5vh;
  margin-bottom: 0 !important;
  text-align: center !important;
  color: #fef7e6;
}
html footer #mentions:hover {
  color: #488b8f;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
